@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    Esta aplicação é resultado das implementações de exemplo, e algumas outras alterações particulares, do código contido no livro 
    <b>Desenvolvimento Web com Asp.net MVC</b> da editora Casa do Código
</p>

<ul>
    <li><b>Autor: </b>Sanchez Fabrício</li>
    <li><b>Autor: </b>Althmann Márcio Fábio</li>
    <li><b>Ano de lançamento: </b>2013</li>
    <li><a href="https://www.casadocodigo.com.br/products/livro-aspnet-mvc?_pos=1&_sid=f7caa72ee&_ss=r">link oficial do livro</a></li>
</ul>
